[submodule ".gopath/src/go.polydawn.net/go-timeless-api"]
	path = .gopath/src/go.polydawn.net/go-timeless-api
	url = https://github.com/polydawn/go-timeless-api
[submodule ".gopath/src/github.com/warpfork/go-wish"]
	path = .gopath/src/github.com/warpfork/go-wish
	url = https://github.com/warpfork/go-wish
[submodule ".gopath/src/github.com/warpfork/go-errcat"]
	path = .gopath/src/github.com/warpfork/go-errcat
	url = https://github.com/warpfork/go-errcat
[submodule ".gopath/src/github.com/polydawn/refmt"]
	path = .gopath/src/github.com/polydawn/refmt
	url = https://github.com/polydawn/refmt
[submodule ".gopath/src/github.com/urfave/cli"]
	path = .gopath/src/github.com/urfave/cli
	url = https://github.com/urfave/cli
